<h1>Compartilhe energia, economize e ajude o planeta!</h1>

<p>A EnerShare conecta produtores e consumidores de energia renovável, criando um mercado justo e transparente. <br>
   Com o app, você pode: <br>
   <br>

  Vender sua energia excedente: Ganhe um valor justo pela sua energia renovável, ajudando a reduzir custos na sua conta de luz. <br>
  <br>
  Comprar energia limpa: Acesse energia renovável e de alta qualidade a preços competitivos, diminuindo sua pegada de carbono. <br>
  <br>
  Monitorar seu consumo: Acompanhe em tempo real a sua produção e consumo de energia, otimizando o uso e economizando ainda mais. <br>
  <br>
  Fazer parte de uma comunidade sustentável: Junte-se a um movimento que está transformando a forma como consumimos energia e construindo um futuro mais verde.</p>