<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro - EnerShare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h2>Cadastre-se na EnerShare</h2>
    <form>
      <ion-item>
        <ion-label position="floating">Nome completo</ion-label>
        <ion-input type="text" name="nome" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel" name="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text" name="endereco" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input type="text" name="cidade" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-input type="text" name="estado" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" name="senha" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password" name="confirmar-senha" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Cadastrar</ion-button>
    </form>
  </div>
</ion-content>