  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Apresentação</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Apresentação</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <swiper-container>
      <swiper-slide><app-etapa1></app-etapa1></swiper-slide>
      <swiper-slide><app-etapa2></app-etapa2></swiper-slide>
      <swiper-slide><app-etapa3></app-etapa3></swiper-slide>
  
    </swiper-container>
  
  </ion-content>  