ion-content {
    display: flex;            /* Usar flexbox para o layout */
    flex-direction: column;  /* Organizar os itens em coluna */
    padding: 16px;          /* Adicionar espaço interno ao conteúdo */
  }
  
  ion-toolbar {
    margin-bottom: 16px;    /* Margem inferior nos toolbars */
  }
  
  ion-card {
    margin-bottom: 10px;    /* Margem entre os cartões */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra dos cartões */
    border-radius: 8px;     /* Bordas arredondadas */
  }
  
  ion-fab {
    position: absolute;  /* Para garantir que o FAB seja posicionado em relação ao conteúdo */
    bottom: 16px;        /* Distância da parte inferior */
    right: 16px;         /* Distância da direita */
    z-index: 1000;      /* Para garantir que o botão fique acima de outros elementos */
  }
  ion-fab-button {
    display: flex; /* Para usar o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 56px; /* Largura padrão do botão fab */
    height: 56px; /* Altura padrão do botão fab */
  }
  
  ion-icon {
    font-size: 24px; /* Ajuste o tamanho do ícone, se necessário */
    margin: 0; /* Remover margem para evitar desalinhamento */
  }
  
  .fab{
    margin-top: 20px;
  }
 