.success-message-container {
  margin-top: 100px;
}

.success-icon {
  font-size: 80px;
  color: #4caf50; /* Cor verde do ícone */
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #dbdbdb;
}

.button-container {
  margin-top: 40px;
}

ion-button {
  --background: #4caf50; /* Cor do botão verde */
  --border-radius: 10px; /* Bordas arredondadas */
}

p {
  color:#555555
}
.solicitar-list-container{
  color: white;
}
ion-card-content{
  color: white;
}

p{
  color: white;
}