/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; /* Branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(201, 140, 27, 0);
    max-width: 400px;
    width: 100%;
    text-align: center; /* Centraliza o texto */
}

h1 {
    margin-bottom: 20px;
    color: #d67f37; /* Vermelho SENAC */
}

p {
    margin-bottom: 20px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens do formulário */
}

label {
    margin-bottom: 8px;
    color: #333;
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%; /* Faz o input preencher a largura disponível */
    max-width: 300px; /* Define uma largura máxima para o input */
}

button {
    padding: 10px;
    background-color: #263cb4; /* Vermelho SENAC */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e32ac; /* Vermelho mais escuro para o efeito hover */
}
