.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Altura total da tela */
  background-color: #000000; /* Fundo escuro */
  color: #ffffff; /* Texto branco */
  padding: 20px;
  text-align: center;
  position: relative;
}

.square-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* Texto branco */
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #ffffff; /* Texto branco */
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.email-item {
  width: 100%;
  max-width: 320px;
}

.submit-button {
  margin-top: 20px;
  max-width: 320px;
  width: 100%;
}
