/* Estilo do contêiner principal */
.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* Estilo do título */
h1 {
  color: #2e7d32; /* Verde mais escuro */
  font-size: 24px;
  margin-top: 60px; /* Margem maior para o botão no topo */
  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilo da mensagem */
p {
  color: #4caf50;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
}

/* Estilo do campo de e-mail com bordas arredondadas */
ion-item {
  --background: #464444;
  --border-color: #4caf50; /* Verde claro */
  margin-bottom: 20px;
  border-radius: 20px; /* Bordas arredondadas */
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

ion-label {
  --color: #2e7d32; /* Verde escuro */
}

ion-input {
  --color: #2e7d32; /* Texto verde escuro */
  font-size: 16px;
}

/* Estilo do botão de enviar */
ion-button {
  --background: #4caf50; /* Botão verde */
  --background-hover: #43a047; /* Verde mais claro no hover */
  --background-activated: #388e3c; /* Verde escuro no clique */
  color: white;
  width: 100%;
  border-radius: 20px; /* Bordas arredondadas */
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

ion-button:hover {
  transform: scale(1.02);
}

/* Ajustes no formulário */
form ion-button,
form ion-item {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
